.container {
  font-family: var(--font-inter);
}

.footContainer {
  display: flex;
  align-items: center;
  justify-items: center;
  font-family: var(--font-inter);
  background-color: #C6C6C6;
  padding: 0 20px;
}

.head-logo {
  display: flex;
  color: green;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 30px;
  color: #8449E0;
  margin: 100px auto;
  padding: 0 20px;
  font-family: var(--font-inter);
}

.mainTitle {
  width: 100%;
  max-width: 1000px;
}

.mainOrder {
  background-color: #8449E0;
  color: #ffffff;
}